/************************************
Estilos Main
*************************************/

@font-face {
  font-family: 'Conv_Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Georgia Bold Italic';
  src: url('../fonts/Georgia Bold Italic.eot');
  src: local('☺'), url('../fonts/Georgia Bold Italic.woff') format('woff'), url('../fonts/Georgia Bold Italic.ttf') format('truetype'), url('../fonts/Georgia Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Georgia Italic';
  src: url('../fonts/Georgia Italic.eot');
  src: local('☺'), url('../fonts/Georgia Italic.woff') format('woff'), url('../fonts/Georgia Italic.ttf') format('truetype'), url('../fonts/Georgia Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



html,
body {
	margin:0;
	padding:0;
	height:100%;
  font-family:'Conv_Montserrat-Regular',Sans-Serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	padding: 10px;
	text-align: center;
	background:#F8F8F8;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
.enlace_rl  p{
	font-weight: bold;
	text-align: center;
	color: #a09d9d;
	margin: 15px 0px;
}

.alert-danger {
    color: #a94442;
    background-color: transparent;
    border: none;
    text-align: right;
    margin: 0px;
    padding: 0px !important;
    font-style: italic;
    margin-top: -6px;
    font-size: 11px;
}
.enlace_rpw{
	text-align:right; 
	padding: 20px 0px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ACC3D8;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.5s;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #002F56;
    box-shadow: 0 1px 0 0 #002F56;
}

.input-field label {
    color: #ACC3D8;
    position: absolute;
    top: 1.5em;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
.navbar-default {
    background-color: #F7FAFB;
    border-color: #e7e7e7;
    box-shadow: none;
    padding-top: 10px;
}

.panel_espacio{
	text-align: center;
}

.panel_espacio h1{
  font-family: 'Conv_Georgia Bold Italic',Sans-Serif;
  font-size: 2em;
  color: #003D8A;
  font-weight: bold;
  margin-bottom: 7px;
}
.panel_espacio p{
	color: #003D8A;
}

/*
@media only screen and (min-width: 993px){
	.container {
	    width: 60%;
	}
}
*/


.img-radio label{ /* HIDE RADIO */
  transition: all .2s ease-in-out;
}
.img-radio label > input{ /* HIDE RADIO */
  display:none;
}

.img-radio label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}


.img-radio label:hover{
  transform: scale(1.1);
}


.img-radio label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #002F56;
  border-radius: 35px;
}

.img-radio label span{
  color: #003D8A;
  font-size: 1.2em;
  text-transform: uppercase;
}
.btn-azul{
  font-family: 'Conv_Montserrat-Bold',Sans-Serif;
	background-color: #002F56;
}
.btn-azul:hover{
	background-color: #83A5C5;
	color:#FFF;
}
.btn-azul:active{
	background-color: #83A5C5;
	color:#FFF;
}
.btn-azul:focus{
	background-color: #83A5C5;
	color:#FFF;
}

.navbar-nav>li>a {
    color: #002F56 !important;
    font-weight: normal;
    font-size: 12px;
}


@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -120px;
}
}

.form-signin {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading{
    font-family: 'Conv_Georgia Bold Italic',Sans-Serif;
    text-align: center;
    font-size: 20px;
    color: #002F56;
    font-weight: bold;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 15px 0px;
    border: 2px solid #a09d9d;    
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.login-btn{
    font-family: 'Conv_Montserrat-Bold',Sans-Serif;
    margin-top:10px;
    border-radius: 0px;
    background-color: #002F56;
    height: 45px;
}
.login-btn:hover{
    background-color: #2871aa;
    border-color: #2871aa;
}
.or-social{
    text-align:center;
    margin: 10px 0 10px 0;
}
.facebook{
    background-color: #3B5998;
    border-color: #4863ae;
    border-radius: 0px;
    height: 45px;
    padding-top: 2px;
    text-transform: none;
    font-family: 'Conv_Montserrat-Bold',Sans-Serif;
}
.facebook:hover{
    background-color: #2871aa;
    border-color: #2871aa;
}
.twitter{
    background-color: #46c0fb;
    border-color: #46c0fb;
}
.twitter:hover{
    background-color: #00c7fb;
    border-color: #00c7fb;
}
.google{
    background-color: #2196F3;
    border-color: #2196F3;
}
.google:hover{
    background-color: #42A5F5;
    border-color:#42A5F5;
}
.acceder .row{
     margin-bottom: 0px !important;
}

.form-signin {
    max-width: 600px;
    padding: 15px;
    margin: 10px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
    margin: 10px 0px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 15px 0px;
    border: 2px solid #a09d9d;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input:not([type="email"]) {
    margin-bottom: -1px;
    border-radius:0px;
}
.form-signin #inputPasswordConfirm {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.register-btn{
    background-color: #002F56;
    margin-top:10px;
    border-radius: 0px;
    height: 45px;
}

.register-btn:hover{
    background-color: #2871aa;
    border-color: #2871aa;
}
.or-social{
    text-align:center;
    margin: 10px 0 10px 0;
}

.twitter{
    background-color: #46c0fb;
    border-color: #46c0fb;
}
.twitter:hover{
    background-color: #00c7fb;
    border-color: #00c7fb;
}
.g-recaptcha{
    margin-top:10px;
}
.google{
    background-color: #2196F3;
    border-color: #2196F3;
}
.google:hover{
    background-color: #42A5F5;
    border-color:#42A5F5;
}

.checkbox2{
    margin: 15px 0px;
}

.form-signin h1{
    font-family: 'Conv_Georgia Bold Italic',Sans-Serif;
    text-align: center;
    font-size: 20px;
    color: #002F56;
    font-weight: bold;
    
}

.form-signin h2{
    text-align: center;
    font-size: 17px;
    padding: 0px 60px;
    color: #002F56;
}
.form-signin_ .row{
    margin-bottom: 0px !important;
}