/************************************
Estilos Main
*************************************/

@font-face {
  font-family: 'Conv_Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Georgia Bold Italic';
  src: url('../fonts/Georgia Bold Italic.eot');
  src: local('☺'), url('../fonts/Georgia Bold Italic.woff') format('woff'), url('../fonts/Georgia Bold Italic.ttf') format('truetype'), url('../fonts/Georgia Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Georgia Italic';
  src: url('../fonts/Georgia Italic.eot');
  src: local('☺'), url('../fonts/Georgia Italic.woff') format('woff'), url('../fonts/Georgia Italic.ttf') format('truetype'), url('../fonts/Georgia Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



html,
body {
	margin:0;
	padding:0;
	height:100%;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	padding: 5px 0px;
  margin: 0px;
	text-align: center;
	background:#95a7bc;
	width:100%;
	height:130px;
	position:absolute;
	bottom:0;
	left:0;
}
.enlace_rl  p{
	font-weight: bold;
	text-align: center;
	color: #a09d9d;
	margin: 15px 0px;
}

.alert-danger {
    color: #a94442;
    background-color: transparent;
    border: none;
    text-align: right;
    margin: 0px;
    padding: 0px !important;
    font-style: italic;
    margin-top: -6px;
    font-size: 11px;
}
.enlace_rpw{
	text-align:right; 
	padding: 20px 0px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ACC3D8;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.5s;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #002F56;
    box-shadow: 0 1px 0 0 #002F56;
}

.input-field label {
    color: #ACC3D8;
    position: absolute;
    top: 1.5em;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
.navbar-default {
    background-color: #F7FAFB;
    border-color: #e7e7e7;
    box-shadow: none;
    padding-top: 10px;
}

.panel_espacio{
	text-align: center;
}

.panel_espacio h1{
  font-family: 'Conv_Georgia Bold Italic',Sans-Serif;
  font-size: 2em;
  color: #00172D;
  font-weight: bold;
  margin-bottom: 12px;
}

.panel_espacio p{
	color: #00172D;
  font-size: 20px;
}

/*
@media only screen and (min-width: 993px){
	.container {
	    width: 60%;
	}
}
*/


.img-radio label{ /* HIDE RADIO */
  transition: all .2s ease-in-out;
}
.img-radio label > input{ /* HIDE RADIO */
  display:none;
}

.img-radio label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}


.img-radio label:hover{
  transform: scale(1.1);
}

.img-radio label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #002F56;
  border-radius: 35px;
}

.img-radio label span{
  color: #00172D;
  font-size: 1.2em;
  text-transform: uppercase;
}



.img-check label{ /* HIDE RADIO */
  transition: all .2s ease-in-out;
}
.img-check label > input{ /* HIDE RADIO */
  display:none;
}

.img-check label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}


.img-check label:hover{
}

.img-check label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #002F56;
  border-radius: 35px;
}

.img-check label span{
  color: #003D8A;
  font-size: 1.2em;
  text-transform: uppercase;
}



.btn-azul{
  background-color: #00172D;
  border-radius: 5px;
  width: 200px;
  height: 42px;
  font-size: 17px;
  margin-bottom: 60px;
  padding-top: 5px;  
}
.btn-azul:hover{
	background-color: #83A5C5;
	color:#FFF;
}
.btn-azul:active{
	background-color: #83A5C5;
	color:#FFF;
}
.btn-azul:focus{
	background-color: #83A5C5;
	color:#FFF;
}


.btn-rojo{
  font-family: 'Conv_Montserrat-Bold',Sans-Serif;
  background-color: #f44336;
}
.btn-rojo:hover{
  background-color: #e57373;
  color:#FFF;
}
.btn-rojo:active{
  background-color: #e57373;
  color:#FFF;
}
.btn-rojo:focus{
  background-color: #e57373;
  color:#FFF;
}



.navbar-nav>li>a {
    color: #002F56 !important;
    font-weight: normal;
    font-size: 12px;
}


@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -120px;
}
}

.form-signin {
    max-width: 900px;
    /*padding: 15px;*/
    margin: 0 auto;
}
.form-signin-heading{
    font-family: 'Conv_Georgia Bold Italic',Sans-Serif;
    text-align: center;
    font-size: 35px;
    color: #002F56;
    font-weight: bold;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 15px 0px;
    border: 2px solid #a09d9d;    
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.login-btn{
    font-family: 'Conv_Montserrat-Bold',Sans-Serif;
    margin-top:10px;
    border-radius: 0px;
    background-color: #002F56;
    height: 45px;
    box-shadow: none;
}
.login-btn:hover{
    background-color: #2871aa;
    border-color: #2871aa;
    box-shadow: none;
}
.or-social{
    text-align:center;
    margin: 10px 0 10px 0;
}
.facebook{
    background-color: #3B5998;
    border-color: #4863ae;
    border-radius: 8px;
    height: 45px;
    padding-top: 5px;
    text-transform: none;
    box-shadow: none;
    text-transform: uppercase;
}
.btn{
    box-shadow: none;
}
.btn:hover{
    box-shadow: none;
}
.facebook:hover{
    background-color: #2871aa;
    border-color: #2871aa;
    box-shadow: none;
}
.twitter{
    background-color: #46c0fb;
    border-color: #46c0fb;
}
.twitter:hover{
    background-color: #00c7fb;
    border-color: #00c7fb;
}
.google{
    background-color: #2196F3;
    border-color: #2196F3;
}
.google:hover{
    background-color: #42A5F5;
    border-color:#42A5F5;
}
.acceder .row{
     margin-bottom: 0px !important;
}

.form-signin {
    /*max-width: 600px;*/
    /*padding: 15px;*/
    margin: 10px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
    margin: 10px 0px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 15px 0px;
    border: 2px solid #a09d9d;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input:not([type="email"]) {
    margin-bottom: -1px;
    border-radius:0px;
}
.form-signin #inputPasswordConfirm {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.register-btn{
    background-color: #00172D;
    margin-top:10px;
    border-radius: 8px;
    height: 45px;
}

.register-btn:hover{
    background-color: #2871aa;
    border-color: #2871aa;
}
.or-social{
    text-align:center;
    margin: 10px 0 10px 0;
}

.twitter{
    background-color: #46c0fb;
    border-color: #46c0fb;
}
.twitter:hover{
    background-color: #00c7fb;
    border-color: #00c7fb;
}
.g-recaptcha{
    margin-top:10px;
}
.google{
    background-color: #2196F3;
    border-color: #2196F3;
}
.google:hover{
    background-color: #42A5F5;
    border-color:#42A5F5;
}

.checkbox2{
    margin: 15px 0px;
}

.form-signin h1{
    font-family: 'Conv_Georgia Bold Italic',Sans-Serif;
    text-align: center;
    font-size: 24px;
    color: #002F56;
    font-weight: bold;
    
}

.form-signin h2{
    text-align: center;
    font-size: 20px;
    padding: 0px 60px;
    color: #002F56;
    font-family: 'Questrial', sans-serif;
}
.form-signin_ .row{
    margin-bottom: 0px !important;
}



.modal {
    background-color: transparent;
}
.z-depth-4, .modal {
    box-shadow: none;
}




.btn-upload{
  background-color: transparent;
  color: #002F56;
}

.btn-upload span{
  font-size: 30px !important;
}



.btn-upload:hover{
  background-color: transparent;
  color: #80A3C3;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: transparent;
}
.errors{
  color: #F6807C !important;
}

.errors_img{
  color: #F6807C !important;
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

.copi_espacio{
  text-align: center;
  margin: 10px 0px;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    cursor: pointer;
}

.img-radio-espacios{
  padding: 10px 20px;
}

.espacio_v1{
  margin:10px 0px;
}

.espacio_v2{
  margin:20px 0px;
}

.espacio_v3{
  margin:30px 0px;
}

.espacio_v4{
  margin:40px 0px;
}

.espacio_v5{
  margin:50px 0px;
}

.espacio_v6{
  margin:60px 0px;
}

.elf{
  margin-top: 25px;
  font-family: 'Conv_Georgia Bold Italic',Sans-Serif !important;

}
.elf div a{
  color: #00172d;
  font-size: 17px;
  font-family: 'Conv_Georgia Italic';
}

.elf div p{
  text-align: center;
  color: #00172d;
  font-size: 20px;
  font-family: 'Conv_Georgia Italic';
}
.elf div p a{
  text-decoration: underline;
}

.bv{
  border-right: 2px solid #00172d;
}
.copi_login{
  text-align: center;
  font-size: 20px;
  color: #00172d;
}

.input-field {
    position: relative;
    margin-top: 0rem;
}


.caja_ref{
  padding: 20px;
  overflow: auto;
  max-height: 500px; 
  margin-bottom: 20px; 
}

.ref_check{

}

.ref_check img{
  width: 40px;
  position: absolute;
  top: 45%;
  left: 42%;
}


.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #00172D; }
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: #26a69a; } 

.e_moment {
  margin-top: 55px;
  text-align: left;
}
.e_moment{
  padding-left: 20px;
}

.e_moment a{
  padding-left: 26px;
  color: #727e8a;
}
.e_moment img{
  margin-left: 13px;
}

.glyphicon-cloud-upload:before{
  content: url(../img/varios/upload_img.png);
}

input:not([type])[readonly="readonly"], 
input[type=text]:disabled, 
input[type=text][readonly="readonly"]
{
    color: rgb(21, 19, 19);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.icono_fecha{
}

.s_fecha{
  padding-left: 36px !important;
  text-align: center;
  font-size: 28px !important;
  color: #00172d !important;
  border-bottom: 
}

.errorToast{
  background-color: #EE6E73;
  border-radius: 15px;
}



